@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  padding: 0px 0px;
  margin: 0px 0px;
}

.tui-image-editor-header-logo,
.imageeditorwrapper #filerobot-image-editor-root .fNVQwS {
  display: none !important;
}
input[type="range"]::-ms-track {
  cursor: pointer;
}
.imageeditorwrapper #filerobot-image-editor-root .image-editor-range {
  margin-left: 0px;
  padding: 20px 0px;
}
#filerobot-image-editor-root .rangervalue {
  width: 100%;
  text-align: right;
  padding-top: 0;
  font-weight: 500;
  font-size: 14px;
  color: #5d6d7e;
  margin-left: auto;
}
.imageeditorwrapper #filerobot-image-editor-root .spztoolbarwrapper,
.imageeditorwrapper #filerobot-image-editor-root .spzmaintoolsbar {
  height: auto;
}
.imageeditorwrapper #filerobot-image-editor-root .image-editor-range #range {
  height: 4px;
  background: #e7ecef;
}
.imageeditorwrapper
  #filerobot-image-editor-root
  .image-editor-range
  #range::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: #6779eb;
  cursor: pointer;
}
#filerobot-image-editor-root .spzheadertitle {
  /* display: none; */
}
.imageeditorwrapper #filerobot-image-editor-root .spzeditorfooterwrapper > div {
  font-size: 16px;
}
.imageeditorwrapper #filerobot-image-editor-root .spzeditorfooterwrapper {
  height: auto;
  padding: 8px 0px;
  margin-bottom: 10px;
}
.imageeditorwrapper {
  height: 100vh;
}
.terms > p > a {
  color: blue;
  text-decoration: none;
}
.imageuploader-inner > div {
  max-width: 49%;
  width: 100%;
}
.imageuploadercomponent {
  padding-top: 100px;
}
.filerobot-image-editor-root,
.imageuploadercomponent {
  max-width: 1160px;
  margin: 0px auto;
  width: 100%;
}
.imageuploader-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dragarea {
  border: 3px dashed #4e7efe;
  border-radius: 3px;
  padding: 45px 30px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
.dragarea > button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  height: 57px;
  line-height: 57px;
  display: inline-block;
  color: #fff;
  padding: 0 35px;
  background: #4e7efe;
  margin-bottom: 0px;
  border-radius: 4px;
  border: none;
}
.imageuploader-inner > div.imageuploader-right > h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 36px;
}
.terms > p {
  text-align: left;
  font-size: 11px;
}
.no-image {
  margin-top: 20px;
}
.no-image .no-imageleft {
  padding-top: 8px;
  font-weight: 700;
  margin-right: 30px;
  font-size: 14px;
}
.no-imageright > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-left: -15px;
  border-radius: 100%;
  border: 2px solid #fff;
  cursor: pointer;
}
.no-image-inner {
  display: flex;
  align-items: center;
}
.imageuploader-inner > div.imageuploader-left img {
  max-width: 100%;
}

@media (max-width: 1100px) {
  .imageuploadercomponent {
    padding: 100px 25px;
  }
  .imageuploader-inner > div.imageuploader-right > h2 {
    text-align: left;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #filerobot-image-editor-root .rangervalue,
  .imageeditorwrapper #filerobot-image-editor-root .image-editor-range #range {
    display: none;
  }
  #filerobot-image-editor-root .active-filter .rangervalue,
  .imageeditorwrapper
    #filerobot-image-editor-root
    .image-editor-range.active-filter
    #range {
    display: block;
  }

  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzmaintoolsbar
    > div:not(.spztoolssingle)
    > div:first-child {
    font-size: 26px;
    height: 26px;
  }
  .imageeditorwrapper #filerobot-image-editor-root .spzmaintoolsbar {
    padding: 0px 0px;
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzmaintoolsbar
    > div:not(.spztoolssingle) {
  }
  .spztoolssingle {
    overflow: auto;
    background: #fff;
  }
  #filerobot-image-editor-root .eDYUor div {
    margin-left: 0px;
  }
  .imageeditorwrapper #filerobot-image-editor-root .spzmaincanvaseditorwrapper {
    flex-direction: column-reverse;
  }
  #filerobot-image-editor-root .spzheaderwrapper {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  }
  .imageeditorwrapper #filerobot-image-editor-root .image-editor-range {
    margin: 0px 0px;
    padding: 10px 10px 10px;
    /* width: 190px !important; */
  }
  #filerobot-image-editor-root .image-editor-range label {
    padding-top: 5px !important;
  }
  #filerobot-image-editor-root .spztoolbarwrapper {
    /* padding-top: 10px; */
  }
  .imageeditorwrapper #filerobot-image-editor-root .image-editor-range #range {
    height: 2px;
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzmaintoolsbar
    > div:not(.spztoolssingle) {
    min-height: auto;
    padding: 5px 10px;
    min-width: 80px;
    white-space: nowrap;
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzmaintoolsbar
    > div.spztoolssingle
    > div:first-child {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzmaintoolsbar
    > div.spztoolssingle
    > div.active-parent-filter
    > div:not(.active-filter) {
    display: none;
  }
  #filerobot-image-editor-root .spzmaincanvaseditorinner {
    /* display: flex;
    align-items: center; */
  }
  /* #filerobot-image-editor-root .spzmaintoolsbar > div > div:first-child {
    font-size: 25px;
    height: auto;
  } */
  #filerobot-image-editor-root .spzeditorfooterwrapper {
    box-shadow: 0 0px 0px rgb(0 0 0 / 16%), 0 0px 4px rgb(0 0 0 / 18%);
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .image-editor-range
    #range::-webkit-slider-thumb {
    height: 7px;
    width: 7px;
  }
  .imageuploader-inner {
    flex-direction: column;
  }
  .imageuploader-inner > div {
    max-width: 100%;
  }
  .imageuploadercomponent {
    padding: 30px 25px;
  }
  .imageuploader-inner > div.imageuploader-right > h2 {
    font-size: 24px;
    list-style: none;
  }
  .imageeditorwrapper #filerobot-image-editor-root .spzeditorfooterwrapper {
    padding: 2px 0px;
    margin-bottom: 0px;
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .spzeditorfooterwrapper
    > div {
    font-size: 14px;
  }
}
