@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  padding: 0px 0px;
  margin: 0px 0px;
}

.tui-image-editor-header-logo,
.imageeditorwrapper #filerobot-image-editor-root .fNVQwS {
  display: none !important;
}
input[type="range"]::-ms-track {
  cursor: pointer;
}
.imageeditorwrapper #filerobot-image-editor-root .eDYUor div {
  margin-left: 0px;
  padding: 20px 0px;
}
.imageeditorwrapper #filerobot-image-editor-root .fUJubz,
.imageeditorwrapper #filerobot-image-editor-root .hIfToq {
  height: auto;
}
.imageeditorwrapper #filerobot-image-editor-root .hqkLkE #range {
  height: 4px;
  background: #e7ecef;
}
.imageeditorwrapper
  #filerobot-image-editor-root
  .hqkLkE
  #range::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: #6779eb;
  cursor: pointer;
}
#filerobot-image-editor-root .kltJym,
#filerobot-image-editor-root .hidefilters .customfilter {
  display: none;
}
.imageeditorwrapper #filerobot-image-editor-root .iWXKJf > div {
  font-size: 16px;
}
.imageeditorwrapper #filerobot-image-editor-root .iWXKJf {
  height: auto;
  padding: 8px 0px;
  margin-bottom: 10px;
}
.imageeditorwrapper {
  height: 100vh;
}
.terms > p > a {
  color: blue;
  text-decoration: none;
}
.imageuploader-inner > div {
  max-width: 49%;
  width: 100%;
}
.imageuploadercomponent {
  padding-top: 100px;
}
.filerobot-image-editor-root,
.imageuploadercomponent {
  max-width: 1160px;
  margin: 0px auto;
  width: 100%;
}
.imageuploader-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dragarea {
  border: 3px dashed #4e7efe;
  border-radius: 3px;
  padding: 45px 30px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
.dragarea > button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  height: 57px;
  line-height: 57px;
  display: inline-block;
  color: #fff;
  padding: 0 35px;
  background: #4e7efe;
  margin-bottom: 0px;
  border-radius: 4px;
  border: none;
}
.imageuploader-inner > div.imageuploader-right > h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 36px;
}
.terms > p {
  text-align: left;
  font-size: 11px;
}
.no-image {
  margin-top: 20px;
}
.no-image .no-imageleft {
  padding-top: 8px;
  font-weight: 700;
  margin-right: 30px;
  font-size: 14px;
}
.no-imageright > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-left: -15px;
  border-radius: 100%;
  border: 2px solid #fff;
  cursor: pointer;
}
.no-image-inner {
  display: flex;
  align-items: center;
}
.imageuploader-inner > div.imageuploader-left img {
  max-width: 100%;
}

@media (max-width: 1100px) {
  .imageuploadercomponent {
    padding: 100px 25px;
  }
  .imageuploader-inner > div.imageuploader-right > h2 {
    text-align: left;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .imageeditorwrapper #filerobot-image-editor-root .dZhbOq {
    flex-direction: column-reverse;
  }
  #filerobot-image-editor-root .ldrUBI {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  }
  .imageeditorwrapper #filerobot-image-editor-root .eDYUor div {
    margin: 0px 0px;
    padding: 10px 10px;
  }
  #filerobot-image-editor-root .hqkLkE label {
    padding-top: 10px;
  }
  #filerobot-image-editor-root .fUJubz {
    padding-top: 10px;
  }
  .imageeditorwrapper #filerobot-image-editor-root .hqkLkE #range {
    height: 2px;
  }
  .imageeditorwrapper #filerobot-image-editor-root .ioUsHI {
    min-height: auto;
    padding: 10px 10px;
    min-width: 80px;
    white-space: nowrap;
  }
  #filerobot-image-editor-root .ibhLNh {
    display: flex;
    align-items: center;
  }
  #filerobot-image-editor-root .ioUsHI > div:first-child {
    font-size: 25px;
    height: auto;
  }
  #filerobot-image-editor-root .iWXKJf {
    box-shadow: 0 0px 0px rgb(0 0 0 / 16%), 0 0px 4px rgb(0 0 0 / 18%);
  }
  .imageeditorwrapper
    #filerobot-image-editor-root
    .hqkLkE
    #range::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
  }
  .imageuploader-inner {
    flex-direction: column;
  }
  .imageuploader-inner > div {
    max-width: 100%;
  }
  .imageuploadercomponent {
    padding: 30px 25px;
  }
  .imageuploader-inner > div.imageuploader-right > h2 {
    font-size: 24px;
    list-style: none;
  }
  .imageeditorwrapper #filerobot-image-editor-root .iWXKJf {
    padding: 2px 0px;
    margin-bottom: 0px;
  }
  .imageeditorwrapper #filerobot-image-editor-root .iWXKJf > div {
    font-size: 14px;
  }
}
